@font-face {
    font-family: 'VT323'; /*a name to be used later*/
    src: url('./fonts/VT323-Regular.ttf') format('truetype');
}
html,body{
	height: 100%;
	
}

body{
	background-color: black;
}
#title{
	position: absolute;
	left: fixed;
	right: fixed;
	background-color: rgba(0,10,100,.5);
	display: inline-block;
	font-family: "VT323";
	font-size: 25px;
	color:white;
	z-index=10;
	border: double silver 10px; 
}
#txt{
	top: 20px;
	font-family: "VT323";
	font-size: 25px;
	color:#00ff00;
	padding: 10px;
	padding-top: 50px;
}
.box1{
	border:solid silver 3px;
	position: absolute;
	width: 98%;
	height: 90%;	
}
.box1 .content {
      position: absolute;
      z-index: 5;
}
.bg {
	color:white;
	position: absolute;
    background-image: url('bg.jpg');
    width: 100%;
    height: 100%;
    opacity: .7;
    -webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
    z-index: -1;
}