@font-face {
    font-family: 'digital1'; /*a name to be used later*/
    src: url('./res/fonts/digit1.ttf') format('truetype');
}
@font-face {
    font-family: 'brick'; /*a name to be used later*/
    src: url('./res/fonts/brick.ttf') format('truetype');
}
body{

}
.background-image {
	/*background-image: url("./res/bg/wall2.jpg");*/
	position: fixed;
	z-index: -1;
	left: -1px;
	top: -1px;
	width: 100%;
	height: 100%;

	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

footer{	
	color: white;
	width: 99%;
	position: absolute;
	bottom: 0px;
}
a{
	color: inherit;
	text-decoration: none;
}
.txt{
	/*font-family: "Comic Sans MS";*/
	font-family: "brick";
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
#digital{
	color: white;
	font-family: 'digital1';
}
#brick{
	font-size: 15px;
	font-family: 'brick';
	font-weight: bold;
	color: #5AA364;
	background-color: black;
	border:solid silver;
	border-radius: 15px;

	/*-webkit-filter:  grayscale(70%);*/

	/*
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
	*/
}
#cuadro1{
	color:white;
	font-size: 15px;
	font-weight: bolder;
	border:solid black 5px;
	border-radius: 15px;
	text-align:center

}

#cuadro2{
	
	color:white;
	text-align: center;
	padding: 3px;
	background-color: rgba(5, 52, 158, .27);
	font-size: 10px;
	font-weight: bolder;
	border:solid black 5px;
	border-radius: 15px;
	text-align:center
}

li{
	display:table;
    margin:0px +30px 0px auto;
}