@font-face {
    font-family: 'digital1'; /*a name to be used later*/
    src: url('./res/fonts/digit1.ttf') format('truetype');
}
@font-face {
    font-family: 'brick'; /*a name to be used later*/
    src: url('./res/fonts/brick.ttf') format('truetype');
}
body{
	background-image: url("./res/bg/wall3.jpg");
	background-attachment: auto;
}
footer{	
	color: white;
	width: 95%;
	position: absolute;
	bottom: 0px;
}
a{
	text-decoration: none;
}
.txt{
	font-family: "Comic Sans MS";
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
#digital{
	color: white;
	font-family: 'digital1';
}
#brick{
	font-size: 15px;
	font-family: 'brick';
	font-weight: bold;
	color: #00FF00;
	background-color: black;
	border:solid silver;
	border-radius: 15px;
}
#cuadro1{
	color:white;
	font-size: 40px;
	font-weight: bolder;
	border:solid black 5px;
	border-radius: 15px;
	text-align:center
}

#cuadro2{
	color:white;
	text-align: center;
	padding: 3px;
	background-color: #05349E;
	font-size: 30px;
	font-weight: bolder;
	border:solid black 5px;
	border-radius: 15px;
	text-align:center
}