@font-face {
    font-family: 'destructo_reg'; /*a name to be used later*/
    src: url('./res/fonts/destructo_reg.ttf') format('truetype');
}
@font-face {
    font-family: 'destructo_bold'; /*a name to be used later*/
    src: url('./res/fonts/destructo_bold.ttf') format('truetype');
}
html{
	/*background-image: url("./res/bg/bg3.jpg");*/
	background-color: black;
	background-size:cover;  
	-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
#background{
	position: absolute;
	background-color: #000000;
	left: 10px;
	right: 10px;
	bottom: 55px;
	top: 50px;
	border: solid #03C03C 5px;
	border-radius: 5px;
	z-index: -2;
	background-color: rgba(255,255,255,0.05);
}
#bot_marquee{
	font-family: "destructo_reg";
	font-size: 25px;
	position: absolute;
	width: auto;
	border: solid #03C03C 5px;
	padding: 2px;
	border-radius: 5px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	color: #119eA8;
}
#titulo{
	padding-left: 20px;
	font-family: "destructo_bold";
	font-size: 40px;
	color:#119eA8;
}
#content{
	z-index: 1;
	font-family: "destructo_reg";
	color: #119eA8;
}
.item_list{
	display: block;
	vertical-align: middle;
	max-width: 200px;
	list-style-type: none; 
	border: solid 1px #119eA8;
}
.item_list:hover{
	border: solid 1px #A19eB8;
	background-color: #000000;
}
.item_list a{
	text-decoration: none;
	color: #119eA8;
}