@font-face {
    font-family: 'pixel1'; /*a name to be used later*/
    src: url('./res/fonts/PressStart2P.ttf') format('truetype');
}
@font-face {
    font-family: 'pixel2'; /*a name to be used later*/
    src: url('./res/fonts/Retro Computer_DEMO.ttf') format('truetype');
}


html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #AEC6CF;
  background-image:linear-gradient(45deg,black, black);

}
#lineas{
	position: absolute;
  	background-color: transparent;
  	background-image: linear-gradient(0deg, transparent 25%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  	height:100%;
  	width: 100%;
  	background-size:100px 100px;
  	position: fixed;
  	z-index: -1;
}

.button_a:hover{

	color: black;
	background-color: #FFFB00;
	border-right: solid 5px gray;
	border-bottom: solid 5px gray;
	border-radius: 10px;
}
.button_a{
	font-family: "pixel1";
	font-size: 20px;
	display: table-cell;
	padding: 10px;
	text-decoration: none;
	height: auto;
	width: auto;
	border: solid 5px white;
	color: black;
	background-color: #eeea20;
	border-right: solid 5px gray;
	border-bottom: solid 5px gray;
	border-radius: 10px;
}
.button_b:hover{
	color: black;
	background-color: #00FFB3;
	border-right: solid 5px gray;
	border-bottom: solid 5px gray;
	border-radius: 10px;
}
.button_b{
	font-family: "pixel1";
	font-size: 20px;
	display: table-cell;
	padding: 10px;
	text-decoration: none;
	height: auto;
	width: auto;
	border: solid 5px white;
	color: black;
	background-color: #01dda1;
	border-right: solid 5px gray;
	border-bottom: solid 5px gray;
	border-radius: 10px;
}
.button_a2:hover{
	color: black;
	background-color: #FFFB00;
	border-right: solid 5px gray;
	border-bottom: solid 5px gray;
}
.button_a2{
	font-family: "pixel1";
	font-size: 20px;
	display: table-cell;
	padding: 10px;
	text-decoration: none;
	height: auto;
	width: auto;
	border: solid 5px white;
	font-size: 23px;
	padding: 5px;
	font-family: "pixel2";
	color: black;
	background-color: #eeea20;
	border-right: solid 5px gray;
	border-bottom: solid 5px gray;
	border-radius: 5px;
}
.button_b2:hover{
	color: black;
	background-color: #00FFB3;
	border-right: solid 5px gray;
	border-bottom: solid 5px gray;
}
.button_b2{
	font-family: "pixel2";
	font-size: 23px;
	display: table-cell;
	padding: 10px;
	text-decoration: none;
	height: auto;
	width: auto;
	border: solid 5px white;
	padding: 5px;
	color: black;
	background-color: #01dda1;
	border-right: solid 5px gray;
	border-bottom: solid 5px gray;
	border-radius: 5px;
}
.frame1{
	display: table-cell;
	font-family: "pixel1";
	color: black;
	font-size: 40px;
	padding: 10px;
	background-color: white;
	border: solid blue 5px;
	border-radius: 5px;
	border-bottom: solid 5px #000080;
	border-right: solid 5px #000080;
}