
.banner{

	border:solid #F22222;
	border-radius: 10px;
	padding: 0px;
	opacity: 0.8;
}
.marquee1{
	border-radius: 10px;
	border:solid #F22222 1px;
	float: right;
	color: gray;
}

body{/*
	background-image: url("../img/background2.jpg");*/
	background-position: top;
	background-repeat: inherit;
    background-attachment: fixed;
}

.recuadro1{
	float: none;
	max-height: 50px;
	border-style: groove;
	border-color: gray;
	color: #DCDCDC;
	background-color: rgba(61,77,71,0.3);
	text-shadow:5px 5px 5px #000000;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
}

.portrait{
	float: left;
	position: relative;
	border-style: solid;
	border-color: red;
}
.alt{
	text-align: center;
	background-color: rgba(255,255,255,0.5);
	color: blue;
	width: 400px;
	font-size: 30px;
	font-weight: bold;
}


.heroImage{
	position: relative;
	top: -45px;
	left: 90px;
	z-index: 1;
}
.heroFrame{
	position: relative;
	top: 0px;
	left: -250px;
	z-index: 2;
	box-shadow: 10px 10px 5px #000000;
}
.questNum{
	text-align: center;
	text-decoration: blink;
	text-shadow: 5px 5px 5px #000000;
	position: relative;
	top:-235px;
	left: -278px;
	color: yellow;
	z-index: 3;
	font-weight:bold; ;
}

.lista{
  position: fixed; /* could be absolute */
  top: 100; left: 0; bottom: 0; right: 0;
  margin: auto;
  right: 0px;
  width: 210px;
  border:solid green 2px;
  max-height: auto;
  bottom:50px;
}
.lista a{
	color:white;
	text-decoration: none;
}
